name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal:1.7.2-alpine

    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: shards install
    - run: apk add sqlite-dev
    - name: Run tests
      run: crystal spec --verbose --order random --error-on-warnings

  lint:
    runs-on: ubuntu-latest

    container:
      image: crystallang/crystal

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: shards install
    - name: Run linter
      run: bin/ameba

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
      with:
        crystal: 1.7.2
    - run: shards install
    - run: make
    - name: Install kcov
      run: |
        sudo apt-get update
        sudo apt-get install kcov libsqlite3-dev
    - name: Generate coverage
      run: bin/crkcov --kcov-args --exclude-pattern=/usr/include,/usr/lib,lib/,spec/
    - name: Report coverage
      env:
        COVERALLS_REPO_TOKEN: ${{ github.token }}
      run: |
        cd coverage
        ../dist/coveralls --base-path src/coverage_reporter/
