name: CI

on:
  push:
  # pull_request:
  #   branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
      with:
        crystal: 1.9
    - name: Install dependencies
      run: shards install
    - name: Run tests
      run: crystal spec --verbose --order random --error-on-warnings

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
      with:
        crystal: 1.9
    - name: Install dependencies
      run: shards install
    - name: Run linter
      run: bin/ameba

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Crystal
      uses: crystal-lang/install-crystal@v1
      with:
        crystal: 1.9
    - run: make build
    - name: Install kcov
      run: |
        sudo apt-get update
        sudo apt-get install kcov
    - name: Generate coverage
      run: bin/crkcov --kcov-args --exclude-pattern=/usr/include,/usr/lib,lib/,spec/
    - name: Report coverage
      env:
        COVERALLS_REPO_TOKEN: ${{ github.token }}
        COVERALLS_ENDPOINT: https://beta.coveralls.io
      run: |
        cd coverage
        ../bin/coveralls report --measure --base-path src/coverage_reporter/
